<div class="container">
  <div class="row">
    <div class="col-lg-2"><h5>Title:</h5></div>
    <div class="col-lg-10">{{ flims?.title }}</div>
  </div>
  <div class="row">
    <div class="col-lg-2"><h5>Director:</h5></div>
    <div class="col-lg-10">{{ flims?.director }}</div>
  </div>
  <div class="row">
    <div class="col-lg-2"><h5>Producer:</h5></div>
    <div class="col-lg-10">{{ flims?.producer }}</div>
  </div>
  <div class="row">
    <div class="col-lg-2"><h5>Planet Count:</h5></div>
    <div class="col-lg-4">{{ flims?.planets?.length }}</div>
    <div class="col-lg-2"><h5>Starship Count:</h5></div>
    <div class="col-lg-4">{{ flims?.starships?.length }}</div>
  </div>
</div>
<br />
<div class="row">
  <div class="col-sm-3 col-md-6 col-lg-12">
    <h4 class="heading">Charachter List:</h4>
  </div>
</div>

<ag-grid-angular
  style="width: 95%; height: 100%; margin-left: 11px"
  class="ag-theme-alpine"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [animateRows]="true"
  [rowData]="rowData"
>
</ag-grid-angular>
